[2019-08-01 11:55] npepinpe opened #4 "Open questions"
There's a few open questions/issues regarding the connector and how it should eventually work. I'm just using this issue to list them for future reference.

### SourceTask#poll

From the Java doc:

Current implementation does not block if no data is available, simply returns `NULL`. Seems that this causes it to be immediately polled again; not sure if this is fine or not. Doesn't affect Zeebe at a

[2019-08-01 12:22] npepinpe opened #5 "Publish on Confluent Hub"
One of our goals is to publish the connector to Confluent Hub. I think we're almost there, but we're missing some things, or some things I'm not sure are complete. Here are the [official guidelines](https://docs.confluent.io/current/connect/managing/confluent-hub/component-archive.html#confluent-hub-component-archive). At the moment, when doing a `mvn package`, it will produce a zip file in the ta

[2019-08-01 14:38] npepinpe opened #6 "Forward non defined Zeebe client properties to the Zeebe client builder"
To give more flexibility on how the client is built, we can forward all Zeebe client properties not already in our `ConfigDef` to the Zeebe client builder; we should still keep the `ConfigDef` for the "core" properties however.

[2019-08-01 14:39] npepinpe opened #7 "Source job topic header value should be a comma separated list"
Allow the job topic header value to be a comma separated list so jobs can be published on multiple kafka topics.

[2019-08-06 08:16] npepinpe opened #11 "SMT vs JSONPath"
At the moment we use JSONPath to extract properties from a sink record when transforming it into a Zeebe message.

From what I understand, for our sink connector, we should instead specify the format we want, and users should use [Single Message Transformations](https://docs.confluent.io/current/connect/transforms/index.html) to map their records to our expected format. That's in theory, no idea i

[2019-08-06 09:39] npepinpe opened #12 "Possibly not closing all resources for SourceTask"
Current behaviour is modelled against the Kafka JDBC connector, which essentially keeps a `running` flag that is set to false on stop. Resources are closed once poll is called and running is false, as opposed to in stop, since if already polling we might not those resources (stop is called from another thread).

However I'm not 100% sure that the following is not possible:

1. `poll()` is called
1

[2019-08-08 13:30] StephenOTT opened #14 "Plans to support management actions like Bpmn deployment?"
Any plans or thoughts on supporting management actions like a Bpmn deployment through the connector?

[2019-08-12 13:59] npepinpe commented on #14
Not at the moment. The main use case we saw here is to allow people to integrate Zeebe into an Kafka-backed architecture and orchestrate their processes with Zeebe with minimal changes to their existing services.

Having a sink connector which deploys workflows based on a Kafka record can be useful, but it's probably not business logic that already exists (i.e. passing BPMN definitions around with

[2019-08-13 09:11] #12 closed

[2019-08-13 15:28] npepinpe opened #17 "Consider not using BlockingQueue but just Lock/Conditions in SourceTask"
The `SourceTask#poll` API specifies that we should block to wait for data, but it should be interruptible when stop is called. At the moment it's not, we simply block for 5 seconds until there is data, and if no data is available return control to the caller (which, unless stopping, will just call `poll` again).

So it could be a little nicer to allow poll to be interrupted by using a combination

[2019-09-02 10:48] berndruecker commented on #14
I agree with @npepinpe and would close the issue for the moment. Feel free to object :-)

[2019-09-02 10:48] #14 closed

[2019-09-02 10:50] berndruecker opened #18 "Use Kafka Connect Transforms instead of custom JsonPath"
We currently use some JsonPath ourselves to configure where to read certain data from, see e.g. https://github.com/zeebe-io/kafka-connect-zeebe/blob/master/examples/ping-pong/sink.json#L13

That also means we only support Json, not Avro

It would be more Kafka Connect style, if we use the “transforms” (https://docs.confluent.io/current/connect/transforms/index.html)  – as in the example in https:/

[2019-10-11 10:24] berndruecker opened #19 "Improve user feedback on configuration mistakes"
For example: - i configured it to look for a variable named foo, but forgot to add to the payload from the C# worker.
Crashed the sink. took me a while to debug.

[2019-10-11 10:27] npepinpe commented on #19
Yeah I thought about that, but I wasn't sure what was the "best" way to handle errors, i.e. one record fails to be handled, what happens if we keep processing further records? I assume we never process that record. How are users expecting this to behave? Where should we report the error? If you know of Kafka Connect power users who would have insight there, that'd be great!

[2019-10-24 14:47] berndruecker opened #20 "Allow BPMN message name to be hard coded in Sink connector"
In some situation records on one Kafka topic should always sent into Zeebe with the same message name. Currently you have to extract the message name itself from the data of the record.

Current config
[code]

I want to do this

[code]

Or maybe we need to rename the attribute into e.g.
[code]
Which I think is inline to what we do at other places in Zeebe.

And I actually wondered why the attribut

[2019-10-24 14:49] berndruecker opened #21 "When a Sink is configured without variables being used (they are optional) you hit an exception in Zeebe"
This is a bug, easily reproducable when NOT setting this config property:

[code]

Unfortunately I haven't captured the stack trace but will add later

[2019-10-24 14:54] berndruecker opened #22 "The idempotency exception from a retry needs to be ignored in the Sink"
When a message redelivery is triggered, the idempotent start functionality in Zeebe throws an exception - which keeps the Sink from going on (it is blocked totally now).

So I think we should do two thinks:

- This specific exception can be ignored and should probably logged as INFO or WARN. If the retry creates it, the record is already processed and it is all good. The log should just make sure

[2019-10-25 07:13] berndruecker opened #23 "Sink Connector is blocked if backpressure kicked in once"
If we get a backpressure exception, the connector needs to retry instead of just giving up (blocking all further work).

Comparable to https://github.com/zeebe-io/kafka-connect-zeebe/issues/22

[code]

[2019-10-25 10:54] berndruecker opened #24 "Allow configuration of exception strategy: Stop, retry or Ignore"
When one message can't be processed, what shall we do with it?
Currently it stops the whole processing, which is a reasonable default with Kafka I think. But we should also allow users to define other strategies.

See https://zeebe-io.slack.com/archives/C6WGNHV2A/p1570112570176400

TODO: Double check how other Kafka Connectors handle this.

[2019-10-25 11:18] npepinpe commented on #20
For JSONPath, but admittedly it probably wasn't necessary to add it there. I think we should focus on migrating to SMT support instead of using JSONPath.

[2019-10-25 11:24] berndruecker commented on #20
I tend to agree (even if this is a quite big refactoring and still will require some thinking around the message name makes total sense to be hardcoded

[2019-11-04 10:11] #22 closed

[2019-11-04 10:11] #23 closed

[2019-11-04 10:14] menski commented on #24
@berndruecker I think this is already build in to kafka connect, see this blog post for more information https://www.confluent.io/blog/kafka-connect-deep-dive-error-handling-dead-letter-queues/

As we merged #25 we should now only throw exceptions on real problems, where the default kafka error handling options make sense.

[2019-11-04 10:47] berndruecker commented on #24
Thanks! I will look into it hopefully early next week - this week is traveling...

[2019-11-06 09:37] npepinpe opened #26 "Add integration tests"
We currently have very little testing going on, except those provided by menski (:muscle:)

It shouldn't be too difficult to add integration tests using [TestContainers](https://testcontainers.org), and it would greatly help to ensure other people can easily contribute to this.

[2019-11-07 12:22] bsideup commented on #26
FYI: I love coffee and/or beer and live in Berlin 😋

[2019-11-07 12:59] Zelldon commented on #26
Probably we should buy @bsideup a drink :grinning:  thanks for bringing testcontainers up @npepinpe It is quite nice to test the csharp client as well :+1: I'm finally able to write integration tests for the c# client. https://github.com/zeebe-io/zeebe-client-csharp/blob/master/Client.IntegrationTests/BrokerTest.cs

[2019-11-07 13:02] bsideup commented on #26
Would be happy to share some knowledge and discuss issues (if you have / had any)

[2019-11-13 19:34] berndruecker commented on #5
Just for documentation: We are currently in the process of verifying the connector. I am DRI for that.

[2019-11-14 09:16] berndruecker commented on #24
Yes - that's a great resource - thanks! That absolutely solves the issue. I add a link in the docs: https://github.com/zeebe-io/kafka-connect-zeebe/commit/01d96245b2555dc087370e7e79ae65d5ca4a0cb6

[2019-11-14 09:16] #24 closed

[2019-11-15 08:16] berndruecker opened #27 "Jobs buffer in Source is too big, leading to too much work getting acquired"
The current load test shows situations where there are too many jobs acquired and put into the in memory queue, leading to a massive number of timeouts.

[2019-11-15 08:16] berndruecker commented on #27
Probable fix: https://github.com/zeebe-io/kafka-connect-zeebe/commit/965badc88ca78e3b66a7a03ed0e87b25b0cc16db

[2019-11-15 08:22] npepinpe commented on #27
My only concern with this is that is that since we have two queues, the source task queue, and the job queue, the jobs in the job queue become stale (i.e. timeout) as they wait for the source task queue to be consumed. One possible way to avoid this is to check the job deadline before sending to Kafka and ignore jobs with deadlines in the past. This isn't 100% accurate but if we see we're feeding

[2019-11-15 10:39] berndruecker commented on #27
With the latest fix from @menski the problem still persists, there are too many jobs in the queue and basically all get stale, so almost no progress is made any more, see e.g.

![grafik](https://user-images.githubusercontent.com/1217596/68937276-62141f80-079c-11ea-9a0d-6b46e095236d.png)

While the proposal to remove timed out jobs would heal some symptoms, it does not solve the root problem, that

[2019-11-15 10:42] npepinpe commented on #27
Would be a use case for the same back pressure library we used in the broker, but unfortunately that would require changes on the client side (`JobWorker`/`JobPoller`) in order to have dynamic polling rates.

[2019-12-03 08:33] #27 closed

[2019-12-03 08:45] npepinpe commented on #17
Not relevant anymore

[2019-12-03 08:45] #17 closed

[2019-12-06 14:11] npepinpe opened #31 "Examples should use different string values"
I recently helped a user through his use case with Kafka/Connect/Zeebe, and one of the hurdles he faced with the examples is we reuse the same strings everywhere, which for someone unaware might imply a connection between them. For example, the sink connector name is "pong", the message name is "pong", workflow name is "pong", etc. We should use different names to illustrate they have nothing rela

[2019-12-06 14:12] npepinpe opened #32 "All sink message parameters should be optional except the message name"
The only required parameter for Zeebe is the message name, so we should allow creating sink connectors where all the parameters are optional.

[2019-12-06 14:13] npepinpe commented on #20
I would propose that we allow all values to be hardcoded as well, for example for fan out behaviour you might want the correlation key to be hardcoded to an empty string.

[2020-01-22 11:48] nasushkov opened #34 "connect service does not respond after docker-compose up"
_mvn clean install -DskipTests_ worked fine for me. However, when I try to run _docker-compose up_ the connect service doesn’t start properly and I’m getting an empty response from the server when running any command like this:

`curl localhost:8083/`

Here are some logs which may help:

[2020-01-23 12:44] nasushkov commented on #34
The problem was in Docker configuration as [it's mentioned in the discussion](https://forum.zeebe.io/t/kafka-connect-fails-in-docker-compose/935). At least 6.5 GB of memory is required for Docker.

[2020-01-23 12:44] #34 closed

[2020-01-26 17:01] vringar opened #35 "Send valid JSON from Source"
When sending messages from a Zeebe workflow with the example `ping-pong` configs, messages are overly escaped to the point that they aren't valid JSON anymore:
[code]
and while this works for the round trip other consumers expecting proper JSON are failing on this message.

[2020-01-29 20:25] npepinpe commented on #35
That's correct, the current solution is just to publish the record as a string - the other side has to parse it back as JSON. I'll try out with the JSON schema and report back.

[2020-02-03 16:29] vringar commented on #35
From our exploration we found two options:
1. Remove the JSON mapper in `source.json` so the already valid JSON generated in the [`SourceTask`](https://github.com/zeebe-io/kafka-connect-zeebe/blob/7a859a8151af738eeeaea87edcdd9d24bb5343b1/src/main/java/io/zeebe/kafka/connect/source/ZeebeSourceTask.java#L172) doesn't get scrambled
2. Define a new Schema with the schema type `Schema.Type.STRUCT` and

[2020-03-03 06:39] devdream02 opened #36 "How to connect zeebe to AWS MSK"
Hi Team,

I am looking for connecting Zeebe to my kafka implementation which is there in AWS msk.

But i am not sure how to connect to same. Is there a way in docker-compose.yaml file where i can set the broker endpoints of my MSK.

`version: '2.1'

services:
  zeebe:
    image: camunda/zeebe:0.21.1
    hostname: zeebe
    ports:
      - "26500:26500"
      - "9600:9600"
    volumes:
      - ./zee

[2020-03-07 16:04] nitindileep opened #37 "Readme file issue: microservices-orchestration"
The section  [Publishing a message](https://github.com/zeebe-io/kafka-connect-zeebe/tree/master/examples/microservices-orchestration#publishing-a-message) incorrectly mentions the make command as `make producer`. This should be `make payment`

[2020-03-11 11:12] berndruecker commented on #5
It is there: https://www.confluent.io/hub/zeebe-io/kafka-connect-zeebe

[2020-03-11 11:12] #5 closed

[2020-04-06 12:05] #37 closed

[2020-04-06 12:06] berndruecker commented on #37
@nitindileep: Thanks for reporting!

[2020-04-06 12:12] berndruecker commented on #36
@ devdream02 - is this question still relevant? For questions it is actually better to use the forum (https://forum.zeebe.io/) instead of creating an issue. So I will close this for now.

Actually I have no experience with Kafka Connect and AWS MSK - but you should be able to configure Kafka Connect accordingly (for Confluent Cloud there are some docs: https://docs.confluent.io/current/cloud/cp-co

[2020-04-06 12:12] #36 closed

[2020-04-06 12:16] berndruecker commented on #35
@vringar: So you switched from JsonConverter to a StringConverter (here: https://github.com/zeebe-io/kafka-connect-zeebe/issues/18)? That could maybe make sense to change that in the example too - right? Would you be willing to provide a Pull Request for it?

For the Schema: I think we should switch to the typical Kafka transformation logic (https://github.com/zeebe-io/kafka-connect-zeebe/issues/1

[2020-05-03 03:44] Klaus-Nji-sp opened #40 "Build fails when upgrading Zeebe dependency from 0.22.1 to 0.23.1"
I just tried rebuilding the project with the new release 0.23.1 release of Zeebe and getting some compilation failures.  There are a couple of compile errors around using plain text and other incompatibilities.

Would someone please take a look?

[2020-05-03 04:58] Klaus-Nji-sp opened #41 "Updating sample ping-pong process to use FEEL expression in correlation key fails process"
Upgrade your Zeebe installation to 0.23.1 and retry the sample ping-pong process.

Deployment will fail with the following error:

[code]

However, if you correct the error by adding `= ` in front of the Subscription Correlation Key for the Kafka Sink (From Kafka), the process will no longer execute to completion.  Error encountered by the sink is:

`com.jayway.jsonpath.PathNotFoundException: No r

[2020-05-04 14:53] Klaus-Nji-sp commented on #41
There is actually no problem.  Underlying issue was double escaping of the payload data when testing this on a mac.

Here is what works on a mac assuming you are running zbctl on the Zeebe docker image:

docker exec -it zeebe_broker_1  zbctl --insecure create instance --variables '{"name": "pong", "payload": { "foo": "bar"}, "key": 1}' ping-pong

[2020-05-05 02:55] Klaus-Nji-sp opened #42 "Instability on correlation key definition in sink configuration"
I ran the simple ping-pong example without issue most of the day.  Then I attempted to model my own process based on the ping-pong example but could not get the sink to pick up the message with my own correlation key.  The error I have been getting all day is:

`com.jayway.jsonpath.PathNotFoundException: No results for path: $['correlationKey']\n\tat com.jayway.jsonpath.internal.path.EvaluationCon

[2020-05-05 15:41] Dabz opened #43 "Sink connector is stucked without any log messages if Zeebe is unavailable"
Hi team!

While testing locally, it seems that the connector gets stuck if we provide invalid value to connect to Zeebe. If I deploy a connector locally, without having Zeebe running, I can observe that the thread is blocked indefinitely on https://github.com/zeebe-io/kafka-connect-zeebe/blob/master/src/main/java/io/zeebe/kafka/connect/sink/ZeebeSinkTask.java#L58.

My connector configuration is:

[2020-05-06 18:40] Klaus-Nji-sp commented on #42
I have narrowed this down to this line in the config:

`  "message.path.variables": "$.variablesAsMap.payload",`

If I change that line to:

`  "message.path.variables": "$.variablesAsMap",`

Messages are not published to Kafka.

[2020-08-24 11:28] berndruecker opened #46 "Update to Zeebe 0.24 and include Camunda Cloud"
- Update connect to use latest Zeebe version
- Allow and document to use Camunda Cloud

[2020-08-24 11:29] berndruecker commented on #41
Will be fixed with https://github.com/zeebe-io/kafka-connect-zeebe/issues/46

[2020-08-24 11:29] #41 closed

[2020-08-24 11:29] berndruecker commented on #41
Sorry for the delay!

[2020-08-24 11:31] berndruecker commented on #46
Thanks a lot to @vmaleze for his work on https://github.com/zeebe-io/kafka-connect-zeebe/pull/44 related to this

[2020-08-24 11:32] berndruecker commented on #40
Will be fixed with https://github.com/zeebe-io/kafka-connect-zeebe/issues/46

[2020-08-24 11:32] #40 closed

[2020-08-24 11:34] #46 closed

[2020-09-30 16:39] Parikshit-Hooda opened #47 "minor typo in readme.md"
**precisly** in readme.md is a typo. Raising a PR to change it, scoped in hacktoberfest'20.

[2020-10-01 22:25] #47 closed

[2020-10-15 09:08] fr-ashikaumagiliya commented on #43
I think i am having a similar issue. Then checked Kafka Connect logs, I see following error

[2020-10-15 09:03:18,939] INFO ZeebeSinkConnectorConfig values:
	message.path.correlationKey = $.correlationKey
	message.path.messageName = $.messageName
	message.path.timeToLive = timeToLive
	message.path.variables = variables
	zeebe.client.broker.contactPoint = host.docker.internal:26500
	zeebe.client.cl

[2020-10-21 15:12] dmmakita opened #49 "Readme's link to Message Correlation documentation is broken"
Readme's link to Message Correlation documentation is broken:
https://docs.zeebe.io/reference/message-correlation.html

[2020-11-02 06:52] shubham49 opened #50 "Connection refused when kafka connect hits zeebe"
I am using same docker compose file on my mac and getting below error at kafka connect while creating source connector

Caused by: io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: localhost/127.0.0.1:26500
2020-11-02T06:44:12.537124900Z Caused by: java.net.ConnectException: Connection refused
2020-11-02T06:44:12.537149800Z 	at sun.nio.ch.SocketChannelImpl.checkConnec

[2020-11-02 07:20] shubham49 commented on #50
I was running zeebe on my local so while creating source connector I had to uncomment property key from __zeebe.client.broker.contactPoint to zeebe.client.broker.contactPoint

[2020-11-02 07:20] #50 closed

[2020-11-06 16:35] Sargastico opened #51 "Zeebe Sink Connector changes to "Degraded" if a empty message is published."
Hi, while testing zeebe connector for kafka, I found something that was causing me some trouble, and maybe is some kind of bug or undesired behavior.

If an empty message is published in the kafka topic, the sink connector will consumes it, and raise the exception:

Running on Kubernetes from GCP (GKE):

- Zeebe [camunda/zeebe] 0.24.1
- Connector [kafka-connect-zeebe] 0.24.0
- Kafka [confluentinc/

[2020-12-04 12:42] coloal opened #52 "Is Zeebe accurate for me?"
Hi, I have a Kafka cluster and a Kafka Connect cluster running on AKS, using Kubernetes and Strimzi. And I wanted that my Kafka Connect cluster were able to recieve and orchestrate a lot of requests of reading RSS feeds. So I want a way of dynamically instantiate Connectors which reads a desired RSS feed and also something that ensures the state of the kafka connectors is the desired one, I mean t

[2021-01-13 07:58] berndruecker commented on #52
Sorry for the late reply. Please ask questions like this via the forum: https://forum.zeebe.io/.
Spontaneously thinks sounds like a use case where you might not want to use the connector, but simply a Zeebe client in the programming language of your choice (which is?) as this gives you much more control over what you are doing.

[2021-01-13 07:58] #52 closed

[2021-01-13 08:01] #49 closed

[2021-01-13 08:01] berndruecker commented on #49
Thanks for reporting! Fixed

[2021-03-17 08:51] berndruecker commented on #51
Thanks for reporting @Sargastico and sorry for the delay, my Github notifications didn't come through in my email inbox. Is this still relevant or urgent for you? I will try to look at this over the next week.

[2021-03-17 15:55] Sargastico commented on #51
@berndruecker It's relevant. I appreciate if you could figure out the problem. That was a while ago and I don't know if something has changed in the meantime.

[2021-04-12 12:28] berndruecker commented on #51
@Sargastico  - sorry for the long delay. I am looking at it now!

You send in an empty message, which means the connector can't derive important information it needs to know to route the message to Zeebe (like message name or correlation key).

What would be the expected behavior you would assume in this case? I think the connector can't handle empty messages, so throwing an exception might be jus

[2021-04-12 12:30] berndruecker commented on #51
The above article is also linked in the readme: https://github.com/camunda-community-hub/kafka-connect-zeebe#configuring-error-handling-of-kafka-connect-eg-logging-or-dead-letter-queues. I would close this issue - feel free to reopen if you have good input on how the connector itself should be improved!

Also always interessted if you can share some info about your use case - maybe in the forum: h

[2021-04-12 12:30] #51 closed

[2021-05-16 00:37] danshapir opened #56 "Update to Zeebe 1.0"
As zeebe v1 is finally out and had some breaking changes, I was wondering is this compatible with zeebe v1?

If so, what needs to be done?

[2021-05-20 13:16] berndruecker commented on #56
It is not yet - but I am working on it now - I will hijack this issue for it :-)

[2021-05-20 18:53] berndruecker commented on #56
Looks good on master now - I will do some more severe testing with it and release a new version hopefully next week (that should also go to Confluent Hub)

[2021-06-07 12:53] berndruecker commented on #56
waiting for the release pipeline to be activated (https://github.com/camunda-community-hub/infrastructure/pull/17)

[2021-06-07 13:59] celanthe commented on #56
Hi @berndruecker! I just merged your PR, so you should be able to start the release pipeline! Please let me know if you have any problems. I am happy to help.

If you get stuck, you can also refer to [the release process documentation](https://github.com/camunda-community-hub/community/blob/main/RELEASE.MD) as well. :)

[2021-06-08 09:08] berndruecker commented on #56
@celanthe I just published 0.31.0 - please release the staged Artifact to Maven Central. Thx

[2021-06-08 09:09] berndruecker commented on #56
https://github.com/camunda-community-hub/kafka-connect-zeebe/releases/tag/0.31.0

[2021-06-08 12:57] celanthe commented on #56
@berndruecker Thank you for the assignment! I just released this version to Maven Central. You should see it visible there within a few hours! :)

[2021-06-08 13:19] #56 closed

[2021-07-07 17:30] AnuvadiyaHiren opened #57 "NPE on ZeebeSourceTask.java:114"
java.lang.NullPointerException
connect_1          |    at io.zeebe.kafka.connect.source.ZeebeSourceTask.commit(ZeebeSourceTask.java:114)
connect_1          |    at org.apache.kafka.connect.runtime.WorkerSourceTask.commitSourceTask(WorkerSourceTask.java:507)
connect_1          |    at org.apache.kafka.connect.runtime.WorkerSourceTask.commitOffsets(WorkerSourceTask.java:448)
connect_1          |

[2021-07-13 07:29] berndruecker commented on #11
Duplicate of  https://github.com/camunda-community-hub/kafka-connect-zeebe/issues/18

[2021-07-13 07:29] #11 closed

[2021-07-13 07:30] berndruecker opened #58 "Support messages in Avro format"
TBD

--
Maybe related to https://github.com/camunda-community-hub/kafka-connect-zeebe/issues/18

[2021-07-13 14:57] berndruecker commented on #58
Googling around I found this interesting thread: https://groups.google.com/g/confluent-platform/c/OGuOCkEKoeA.

My summary:

- Easiest would be to use KSQL to convert Avro to JSON and vice versa before using the Converter
- It is possible to build an SMT to do this, but this does not exist out of the box yet (some code can be found in https://github.com/ottomata/kafka-connect-jsonschema, https://g

[2021-07-13 15:14] berndruecker commented on #57
Hi @ AnuvadiyaHiren - thanks for reporting this. This puzzles me a bit - can you provide some more context when this is happening and if it is reproducible?

Which version of Zeebe and the Connector are you using?

[2021-07-14 09:30] berndruecker opened #59 "Update to Camunda Cloud 1.1"

[2021-07-14 09:52] #59 closed

[2021-08-06 10:30] ankit-joinwal commented on #18
Hi,
As of current version of the zeebe kafka connect plugin, is it possible to use built-in SMT like https://docs.confluent.io/platform/current/connect/transforms/extractfield.html ?

[2021-08-23 03:43] minhtranes opened #60 "I encountered an concurrency issue"
Hi experts,

I had following exception during load test with all default configuration:

`[2021-08-18 16:59:23,139] ERROR WorkerSourceTask{id=approvedTickets-0} Exception thrown while calling task.commit() (org.apache.kafka.connect.runtime.WorkerSourceTask:586)
java.util.ConcurrentModificationException
        at java.util.LinkedList$LLSpliterator.forEachRemaining(LinkedList.java:1239)
        at

[2021-08-23 10:44] SiddarthSingh opened #61 "Source connector worker task is getting stuck and not publishing any records"
worker task is getting stuck and not producing any records to kafka topic in case if there is a bad/malformed record present in the pipeline.

Step to reproduce:

1. Try creating a process instance of a bpmn process without providing kafka topic header (or provide any topic which doesn't exist in kafka).
2.  Create instances of other bpmn process where topics are provided and exist in kafka.
3. Fo

[2021-08-23 11:53] SiddarthSingh commented on #61
update : Tried setting "errors.tolerance" : "all" for connector config but still same issue.

[2021-08-23 13:21] SiddarthSingh commented on #61
update : was able to resolve this finally by adding below properties in connector config:

  "producer.delivery.timeout.ms": "20000"
  "producer.max.block.ms": "60000"
  "producer.request.timeout.ms": "15000"
  "errors.tolerance": "all"

[2021-08-23 13:21] SiddarthSingh commented on #61
update : was able to resolve this finally by adding below properties in connector config:

  "producer.delivery.timeout.ms": "20000"
  "producer.max.block.ms": "60000"
  "producer.request.timeout.ms": "15000"
  "errors.tolerance": "all"

[2021-09-07 07:36] SiddarthSingh commented on #61
issue is re-occuring intermittently

[2021-09-07 07:36] #61 closed

[2021-09-23 16:02] PiePra opened #62 "Following the Microservices-Orchestration Example leads to error Expected to find an object with property ['orderId'] in path $ but found 'java.lang.String'"
Following the exact How-To in Microservices-Orchestration using docker-compose local-kafka and camunda cloud leads to an error and causes the Connector-Sink to degrade with the error:

`Expected to find an object with property ['orderId'] in path $ but found 'java.lang.String' `

I unsuccesfully tried setting `key.converter.schemas.enable=false` and `value.converter.schemas.enable=true` which i be

[2021-11-11 09:51] #60 closed

[2021-11-11 09:51] berndruecker commented on #60
Please reopen if still relevant

[2021-11-11 09:51] berndruecker commented on #62
Closing this due to inactivity, feel free to reopen!

[2021-11-11 09:51] #62 closed

[2021-11-11 20:44] nadjahagen opened #63 "Newest connector version on Confluent Hub"
Hello everyone,

I saw that the Zeebe Connector can also be installed via [Confluent Hub](https://www.confluent.io/hub/zeebe-io/kafka-connect-zeebe) using the `confluent-hub install` command. There it says that the last version available is 0.22.0.
Since I assume that version 0.22.0 is targeted at Zeebe below 1.0.0, would it be possible to update the Connector to version 0.32.0?

Thanks in advance

[2021-11-21 11:57] lrealdi commented on #57
Hi
I have the same issue with kafka-connect-zeebe-0.32.1-SNAPSHOT.jar

This is my docker-compose
[code]

When I add th ping connector, the controlcenter show:
State: FAILED task id: connect:8083
![immagine](https://user-images.githubusercontent.com/14081241/142760794-f2f91cd1-b8fe-43cc-8ecf-fbcad8963a01.png)

In console I see:

[code]

[2021-11-21 12:17] lrealdi opened #64 "NullPointerException io.zeebe.kafka.connect.source.ZeebeSourceTask.commit"
Hi
I have this issue with kafka-connect-zeebe-0.32.1-SNAPSHOT.jar

This is my docker-compose
[code]

When I add th ping connector, the controlcenter show:
State: FAILED task id: connect:8083
![immagine](https://user-images.githubusercontent.com/14081241/142760794-f2f91cd1-b8fe-43cc-8ecf-fbcad8963a01.png)

In console I see:

[code]

_Originally posted by @lrealdi in https://github.com/camunda-commu

[2021-11-21 21:21] lrealdi commented on #64
[code]

[2021-12-19 01:05] mkoziel2000 opened #68 "ability to work with kafka headers"
It would be great if we had the ability to pull kafka headers out as variables on the sink side and then pack the headers from variables on the source side.  not sure if i saw a way to do this with the current implementation of the connector.  if there is a way, it would be great to know what that technique looks like.

[2022-01-11 06:02] jwulf opened #70 "Feature request: Backoff the retry when gateway reports RESOURCE_EXHAUSTED"
When the broker signals backpressure, the Kafka sink responds with an immediate retry.

See: https://github.com/camunda-community-hub/kafka-connect-zeebe/blob/master/src/main/java/io/zeebe/kafka/connect/sink/ZeebeSinkFuture.java#L76

It should backoff the retry to give the broker a chance to recover.

[2022-01-11 08:22] berndruecker commented on #70
Great finding (based on https://forum.camunda.io/t/kafka-sink-connector-high-cpu-utilisation/2667/5)!

The biggest question is what strategy to use in case of backpressure 🤔

[2022-01-11 08:26] berndruecker commented on #63
Hi @nadjahagen - sorry - just saw this now: The latest connector is available here: https://www.confluent.io/hub/camunda/kafka-connect-zeebe - the package id has changed. I ping confluent to either remove the old one or make a clear note on it. Thx for raising this!

[2022-01-11 11:20] jwulf commented on #70
The easy and obvious one is `t = 2 * t`. So, 1s, 2s, 4s, 8s, 16s, 32s, 64s ...

[2022-01-13 13:18] berndruecker commented on #63
The old version now got deleted on Confluent Hub, you can now only find the new one: https://www.confluent.io/hub/camunda/kafka-connect-zeebe

[2022-01-14 17:04] nadjahagen commented on #63
Thanks for resolving this! :slightly_smiling_face:

[2022-01-26 08:34] berndruecker commented on #70
Another update: We are looking at it in https://github.com/camunda-community-hub/kafka-connect-zeebe/tree/fm-exponential-backoff

[2022-01-26 11:49] berndruecker commented on #70
reminder for me: Pile of tasks in memory is no problem because we do not retrieve new tasks before the others are completed at the moment

[2022-01-26 15:25] berndruecker commented on #70
Waiting for customer to confirm that this solves the issue

[2022-01-26 20:35] berndruecker opened #72 "Failed to deploy artifacts: Could not transfer artifact, status: 401 Unauthorized"
This is wired - it still worked on January 16th, but not today - there were any specific changes I am aware of (I tried something today but rolled it back as it is was not the problem): https://github.com/camunda-community-hub/kafka-connect-zeebe/runs/4957329187?check_suite_focus=true

the target URL seems to be correct: https://oss.sonatype.org/content/repositories/snapshots/io/zeebe/kafka-connec

[2022-01-26 20:36] berndruecker commented on #72
It is also correctly added here: https://github.com/camunda-community-hub/infrastructure/blob/master/terraform/github/repositories.tf

[2022-01-26 20:39] celanthe commented on #72
@berndruecker The only thing I can think of that changed recently is that there was a new update to Artifactory in the CCH made by Infra. Will DM you and see if that might be the cause of this!

[2022-01-27 08:24] berndruecker commented on #72
What I don't understand is why this "io.camunda" Artifact actually ends up on `oss.sonatype.org` instead of `s01.oss.sonatype.org` - but it worked till 2 weeks ago. Happy to take ideas

[2022-01-28 08:32] #72 closed

[2022-02-02 09:44] umesh-kushwaha opened #73 "Feature request, publish messages in bulk to zeebe"
Currently, SINK connector consume messages in batch but publishing message to zeebe in multiple thread. https://github.com/camunda-community-hub/kafka-connect-zeebe/blob/master/src/main/java/io/zeebe/kafka/connect/sink/ZeebeSinkTask.java#L102

 For example, it consume 10 records in batch then it will fire 10 thread parallel to publish message. This creates bottleneck for improving performance. Due

[2022-02-02 09:59] mashkovd commented on #62
Hi,
i have same error.

1. Create "create instance --variables "{\"orderId\": 1}" order"
2. Manual push message _{"eventType": "OrderPaid", "orderId": 1, "amount": 4000}_ to topic **payment-confirm**

And after have Degraded sink connector and follow log message -
Caused by: com.jayway.jsonpath.PathNotFoundException: Expected to find an object with property ['orderId'] in path $ but found 'java.la

[2022-02-02 12:26] mashkovd opened #74 "Expected to find an object with property ['orderId'] in path $ but found 'java.lang.String'."
Hi, it's same error like this [issue](https://github.com/camunda-community-hub/kafka-connect-zeebe/issues/62)

1. Create "create instance --variables "{"orderId": 1}" order"
2. Manual push message {"eventType": "OrderPaid", "orderId": 1, "amount": 4000} to topic payment-confirm

And after have Degraded sink connector and follow log message -
Caused by: com.jayway.jsonpath.PathNotFoundException: Ex

[2022-02-02 18:02] #74 closed

[2022-02-27 02:32] Andy-JB opened #77 "Add self-managed Zeebe connection settings"
Currently, the only way to connect to a self-managed Zeebe cluster with a client ID and secret is to set [these environment variables](https://docs.camunda.io/docs/self-managed/zeebe-deployment/security/client-authorization/#:~:text=ZEEBE_CLIENT_ID%20%2D%20The%20client,HOME/.camunda/credentials)).

I think the connector should provide the option to set these in the connector properties.

[2022-05-20 13:43] aragornfbm opened #80 "Source variables filtering is not working"
According to the documentation, the "_job.variables_" property should contain the name of a custom header that is defined in the source task and that contains a comma-separated list of variables that should be included in the produced Kafka message.

In the current implementation (0.32.0), the value put in "job.variables" is used as the **actual** list of variable names, not as a **reference** to

[2022-06-24 08:22] vdesabou opened #81 "ClassCastException: class io.netty.channel.epoll.EpollSocketChannel"
Using Confluent Platform(CP) 7.0.1, I get the following error with the connector (tested with 0.32.0 and 0.40.0):

[code]

The problem is that the connector depends on `netty-transport-classes-epoll-4.1.73.Final.jar` but it is not included in the connector (at least on the version shipped on Confluent Hub).

Since the connector does not ship with this dependency, it behaves differently depending o

[2022-07-15 09:37] berndruecker commented on #81
Thanks for the great description of this issue! I will have a look at it hopefully next week

[2022-07-15 09:38] berndruecker commented on #80
Ok - thx for reporting. I will update the docs.

[2022-07-17 06:39] aragornfbm commented on #80
It would be better if this worked like it was initially planned, so that we can define the list of variables to send inside each workflow, not as part of the source connector configuration. This would give us more flexibility.

[2022-07-25 14:55] berndruecker commented on #81
I am not sure why the epoll piece is used here, and not in other scenarios, and thus does not come as a transitive dependency (from the zeebe-java-client).

However, other connectors (like e.g. Redis) did resolve this by **excluding** netty libraries completely, see https://github.com/jcustenborder/kafka-connect-redis/commit/252c416ed0531c2c14844734bab1a9952601dbe3.

Could you confirm that this is

[2022-07-25 15:19] berndruecker commented on #80
In the readme (https://github.com/camunda-community-hub/kafka-connect-zeebe) it says:

This might be a bit misleading - so we should be clear that this is defined by the `source.json` instead. I will fix this right away.

This property is used to limit querying the variables for every job.

If we would want to filter based on a task header, this would be a feature request that requires a bit of ef

[2022-07-27 08:42] aanodin opened #96 "Values are cached when concat function from json path used"
We tried to use the following statement for generating message name for zeebe:
`"message.path.messageName": "concat(\"ChargeOrder_\", $.data.chargeOrderEvent.chargingResult)",`

## Expected behaviour
We can have two values in data.chargeOrderEvent.chargingResult: SUCCESS and FAILED. So we expected two different message names to be published to zeebe: ChargeOrder_SUCCESS and ChargeOrder_FAILED.

##

[2022-07-27 11:18] #77 closed

[2022-07-27 14:44] berndruecker commented on #96
Thanks @aanodin for the detailed issue.
Do you know if updating json-path would already fix the issue, or would something additional to disable caching be required?

Would you possibly even be willing to provide a PR?

[2022-07-27 14:50] aanodin commented on #96
Yes, this should fix the issue, thanks.
Seems that nothing is needed in addition.

[2022-07-27 14:56] berndruecker commented on #96
Do you want to test if this works now by doing your own build on the latest main?

[2022-07-27 15:06] aanodin commented on #96
@berndruecker we have tested the same fix on our local build, it works.

[2022-07-27 15:11] berndruecker commented on #96
Awesome - thanks!

[2022-07-27 15:11] #96 closed

[2022-07-27 15:37] berndruecker commented on #96
Good timing by the way - just released https://github.com/camunda-community-hub/kafka-connect-zeebe/releases/tag/0.40.1

[2022-07-27 18:55] aragornfbm commented on #80
Let me see what I can do @berndruecker

[2022-07-30 21:32] aragornfbm commented on #80
@berndruecker I created the pull request #99 to implement this feature.

[2022-09-29 15:51] vincentgiraud opened #114 "Lenses error with zeebe source connector"
Hello,

We are using Lenses.io and while zeebe sink connector will install without issue, zeebe source creation is getting an error (even when setting all properties):

"Cannot extract connector information from the configuration provided."

![tempsnip](https://user-images.githubusercontent.com/11131880/193077944-4639227b-42d1-477d-be9c-165a5ecaec00.png)

Creation worked using the kafka api though

[2022-10-10 18:29] tarazena opened #117 "Protobuf or Protobuf to JSON integration?"
Hello, I'm trying to integrate Zebee with our Kafka topics, our topics are using Protobufs, Is there a way I can connect Kafka protobufs to Zebee with JsonConversion or somethings similar tor it?

[2022-10-14 04:42] #117 closed

[2022-10-14 04:44] berndruecker commented on #114
Hi @vincentgiraud. I think I don't know in  which UI you are doing this exactly. MY reference is always the REST API. Do you see any exception stack trace that reveals more information than this?